body {
  margin: 0;
  font-family: 'muli', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'muli', sans-serif !important;
}

.benjol-bg {
  background-image: url('../src/images/scooter-wave.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  background-position-y: 10%;
}

/*BIKIN CUSTOM CSSNYA DISINU GUIS SEMISAL GADA DIBOOTSTRAPPNYA*/

.benjol-bg-sm {
  background-image: url('../src/images/bawah.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  background-position-y: 10%;
}

.nav-link-custom:hover {
  color: #FCCA53 !important;
}

.nav-link-custom.active {
  color: #FCCA53 !important;
  font-weight: bold;
}

.button-custom {
  background-color: #FCCA53 !important;
  border-color: #FCCA53 !important;
}
.color-yellow {
  color: #FCCA53 !important;
  font-weight: bold;
}

.benjol-brand {
  margin-left: -5%;
}

@media (max-width:900px) {
  .benjol-bg {
    background-image: url('../src/images/bawah.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    background-position-y: 10%;
  }
}