body {
  margin: 0;
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://www.pexels.com/photo/selective-focus-photography-of-orange-tabby-cat-1170986/"); */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bottom_image {
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-block-end: -3%;
  position: fixed;
  position: -webkit-sticky;
  /* Safari */
  top: 0;
  bottom: 0;

}

/*BIKIN CUSTOM CSSNYA DISINU GUIS SEMISAL GADA DIBOOTSTRAPPNYA*/

.nav-link-custom:hover {
  color: #FCCA53 !important;
}

.nav-link-custom.active {
  color: #FCCA53 !important;
  font-weight: bold;
}

.button-custom {
  background-color: #FCCA53 !important;
  border-color: #FCCA53 !important;
}

.benjol-brand {
  margin-left: -5%;
}